*{margin: 0;
    padding: 0;
    font-family: Arial;
}
html body{height: 100%;}
.container{width: 70%;
    height: 100%;
    margin: 0 auto;
}
.right-menu li{list-style: none;}

.grid-header{display: grid;                                                                                              /* шапка */
    grid-template-columns: 180px 1fr;
    grid-template-rows: 180px;
}
.logo{width: 180px;
    height: 180px;
    align-content: center;
    margin: 20px 0 0 20px;
}
.logo a img{border-radius: 56px;}
.title-name{width: 100%;
    font-weight: bold;
    margin: auto;
}
.title-name h1{text-align: center;
}
.grid-container {
    display: grid; /* домашняя страница */
    grid-template-columns: 1fr 260px;
    height: 100%;
}

.block-text{font-size: 18px;                                                                                             /* основной контент страницы */
    /*padding: 8px;*/
    height: 100%;
    margin: 18px 36px 36px 18px;
    grid-column: 1 / 2;
}
.bat-foto{
}
.block-text p{margin: 12px 0;}
.block-text img{margin: 16px 100px;}

.right-menu{grid-column: 2/3;                                                                                            /* правая колонка */
    grid-area: -4/-2;
    height: 100%;
    margin-bottom: 36px;
}
.bat-attention {height: 46px;                                                                                            /* вы нашли летучую мышь */
    width: 99%;
    font-size: 18px;
    border: orangered 2px solid;
    margin-top: 16px;
    text-align: center;
    padding-top: 6px;
    font-weight: bold;
    box-shadow: 0 14px 28px rgb(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bat-attention p{color: black;
}
.bat-attention a{text-decoration: none;}
.bat-attention a:hover{text-decoration: underline;}
.bat-fone{height: 46px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin: 32px 0;
    padding-top: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.20);
}
.bat-me, .bat-gallery, .bat-donat{height: 36px;                                                                          /* о нас */
    width: 99%;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 32px;
    padding-top: 16px;
}
.bat-me a, .bat-gallery a, .bat-donat a, .foot-menu a{color: black; text-decoration: none;}

.bat-me a:hover, .bat-gallery a:hover, .bat-donat a:hover{color: blue; text-decoration: underline;}

.page-gallery{display:grid;                                                                                               /* галерея */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 350px);
    grid-gap: 8px;
    margin: 18px 36px 36px 18px;
}
.page-gallery div{border: 1px solid black;
    border-radius: 7px;
}
.page-gallery img{border-radius: 7px;}
.page-gallery div img{object-fit: cover;
    height: 100%;
    width: 100%;
}
.fotka{position: relative;}
.bat-name{width: 180px;
    height: 28px;
    position: absolute;
    text-align: center;
    box-shadow: inset 0 0 30px 5px yellow;
    margin-top: -42px;
    padding-top: 8px;
}

.bat-social{height: 56px;                                                                                                /* соцсети */
    width: 99%;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22), 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 32px;
    padding-top: 16px;
}
.bat-social a img{margin: 3px 6px 0 6px;
}

.grid-footer{display: grid;                                                                                             /* подвал*/
    background: #2f2f2f;
    grid-template-columns: 250px 1fr 250px;
    height: 86px;
    margin-top: 16px;
}
.copyright, .foot-fone{text-align: center;
    color: white;
    font-weight: bold;
    margin: auto;
}
.copyright a{text-decoration: none;
    color: white;
    margin: 0 4px;
}
.copyr:before{content: '\00A9';}
.foot-menu{display: inline;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
.foot-menu a{color: white;
    margin: 0 90px;
}
.foot-menu a:hover{text-decoration: underline;}
.foot-fone, .copyright, .foot-menu a{box-shadow: 0 10px 14px rgb(203, 203, 203, 0.3), 0 10px 10px rgb(203, 203, 203, 0.3);
}
h2 {margin: 16px 0;}